<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Chamado #{{ chamado.id }}</title>
  </head>

  <body>
    <h1>Chamado #{{ chamado.id }}</h1>

    <p>
      <strong>Solicitação:</strong>
      {{ chamado.solicitacao }}
    </p>

    <p>
      <strong>Data:</strong>
      {{ chamado.data.strftime('%H:%M - %d/%m/%Y') }}
    </p>

    <p>
      <strong>Status:</strong>
      {{ chamado.status }}
    </p>
    {% if usuario.permissao_ti or usuario.permissao_gerente %}
    <h2>Alterar status</h2>

    <form
      method="POST"
      action="{{ url_for('chamados.atualizar_status', chamado_id=chamado.id) }}"
    >
      <label for="status">Status:</label>

      <select name="status" id="status">

        <option value="pendente"
            {% if chamado.status == "pendente" %}selected{% endif %}>
            Pendente
        </option>

        <option value="em_andamento"
            {% if chamado.status == "em_andamento" %}selected{% endif %}>
            Em andamento
        </option>

        <option value="resolvido"
            {% if chamado.status == "resolvido" %}selected{% endif %}>
            Resolvido
        </option>

      </select>

      <button type="submit">Atualizar status</button>
    </form>
    {% endif %}
    <p>
      <strong>Usuário:</strong>
      {{ chamado.usuario.nome_usuario }}
    </p>

    <p>
      <strong>Setor:</strong>
      {{ chamado.usuario.setor }}
    </p>

    <br />

    <a href="{{ url_for('chamados.listar_chamados') }}">
      Voltar para chamados
    </a>
  </body>
</html>
