{% extends "base.html" %} {% block title %} Chamados {% endblock %} {% block
content %}

<h2>Chamados de TI</h2>

<p>Lista de chamados registrados no sistema.</p>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Solicitação</th>
      <th>Usuário</th>
      <th>Setor</th>
      <th>Status</th>
      <th>Data</th>
    </tr>
  </thead>

  <tbody>
    {% for chamado in chamados %}

    <tr>
      <td>{{ chamado.id }}</td>

      <td>{{ chamado.solicitacao }}</td>

      <td>{{ chamado.usuario.nome }}</td>

      <td>{{ chamado.setor }}</td>

      <td>{{ chamado.status }}</td>

      <td>{{ chamado.data.strftime('%d/%m/%Y %H:%M') }}</td>
    </tr>

    {% endfor %}
  </tbody>
</table>

{% endblock %}
