<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Novo Chamado</title>
  </head>
  <body>
    <h1>Abrir novo chamado</h1>

    <form method="POST">
      <label for="solicitacao"> Descreva o problema: </label>

      <br />

      <textarea
        id="solicitacao"
        name="solicitacao"
        rows="6"
        cols="50"
        required
      ></textarea>

      <br /><br />

      <button type="submit">Abrir chamado</button>
    </form>

    <br />

    <a href="{{ url_for('dashboard.index') }}"> Voltar para o dashboard </a>
  </body>
</html>
